 @charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Roboto);
/* @import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One); */

* {
  font-family: 'Roboto', sans-serif;
}
body {
    background: url('/img/bg.jpg') no-repeat;
    background-size: cover;
}
.person {
    width: 37%;
    position: absolute;
    left: 10%;
    bottom: 0;
}

.panel-primary {
    position: absolute;
    left: 29%;
    top: 30%;
}

.slotwrapper {
    padding-left: 59px;
    overflow: hidden;
    display: inline-block;
    height: 200px;
    background: url(/img/khungquay.png) no-repeat;
    width: 745px;
}
    .slotwrapper ul {
        width: 215px;
        height: 178px;
        font-size: 150px;
        line-height: 200px;
        text-align: center;
        color: #1dd254;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff386;
    }

.phone-omni {
    position: absolute;
    right: 5%;
    bottom: 0;
    width: 25%;
}

.app {
    position: absolute;
    /* bottom: 0; */
    right: 10%;
    width: 21%;
    top: 0;
}

.modal-content {
    background: url(/img/bgpopup.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.modal-body {

    color: #fff;
}

.modal-open .modal {
    background: #777777c4;
}

.demo {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.congrat {
    position: absolute;
    left: 38%;
    top: 20%;
    display: none;
}